@import '../../variables';

$sidebarBackground: #40434A;
$sidebarBorderColor: #5E636F;
$bodyBackground: #383A3F;
$gold: #F4B400;

@import '~plyr/src/sass/plyr';
@import 'header';
@import '../../vendor/progress-circle';

body {
    background: #383A3F;
}

main.main {
    display: grid;
    grid-template-columns: 350px auto;

    aside {
        display: flex;
        flex-direction: column;
        $blue: #4285F4;

        .course {
            align-self: start;
            background: $sidebarBackground;
            margin-bottom: 1.5rem;
            display: grid;
            grid-template-columns: 5fr 2fr;
            align-items: center;

            .info {
                padding: 1rem;

                * {
                    color: #fff;
                }

                .title {
                    font-size: 1.25rem;
                    //border-left: 4px solid $gold;
                    text-transform: uppercase;
                    padding-left: 1rem;
                    position: relative;

                    &:before {
                        position: absolute;
                        content: '';
                        width: 6px;
                        height: 70%;
                        top: 15%;
                        left: 0px;
                        background: $gold;
                    }
                }

                .name {
                    margin-top: 1rem;
                    font-size: 2rem;
                }

                border-right: 1px solid $bodyBackground;
            }

            .right {
                .progress-circle {
                    margin: 0rem 1rem;
                    width: 70px;
                    height: 70px;
                }

                .finished {
                    color: $sidebarBorderColor;
                    text-align: center;
                    display: block;
                    width: 100%;
                    font-weight: normal;
                }
            }
        }

        .units {
            align-self: start;
        }

        .unit {
            background: $sidebarBackground;
            border-bottom: 1px solid $sidebarBorderColor;

            .unit-details {
                padding: 1rem 2rem;
                position: relative;

                span:not(.circle) {
                    text-transform: uppercase;
                    color: #fff;
                    position: relative;
                    margin-bottom: 0.3rem;
                }

                .unit-status {
                    position: absolute;
                    fill: $sidebarBorderColor;
                    top: 20px;
                    right: 10px;
                    width: 20px;

                }

                .unit-toggler {}

                .unit-name {
                    font-size: 22px;
                }

                .unit-number {
                    padding: 0.1rem 0.75rem;
                    border-radius: 2rem;
                    background: $blue;
                    display: flex;
                    letter-spacing: 2px;
                    width: fit-content;
                    position: relative;
                    text-transform: uppercase;
                    color: #fff;
                    position: relative;
                    margin-bottom: 0.3rem;
                    height: 30px;

                    .text {
                        z-index: 10;
                        margin: 0;
                        align-self: center;
                    }

                    .circle {
                        width: 30px;
                        height: 100%;
                        background: #1EA833;
                        border-radius: 50%;
                        position: absolute;
                        top: 0px;
                        left: 0px;

                    }
                }

                border-bottom: 1px solid $sidebarBorderColor;
            }

            .unit-lessons {
                display: none;

                &.show {
                    display: grid;
                }

                padding: 1rem 0;

                .lesson {
                    padding: 0 1rem;
                    margin-bottom: 2rem;
                    font-size: 1.2rem;
                    display: grid;
                    grid-template-columns: 30px 30px auto;
                    align-items: start;

                    .pulse {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: $gold;
                        cursor: pointer;
                        box-shadow: 0 0 0 rgba($gold, 0.4);
                        animation: pulse 2s infinite;
                        margin-top: 10px;
                        justify-self: center;
                    }

                    @keyframes pulse {
                        0% {
                            box-shadow: 0 0 0 0 rgba($gold, 0.4);
                        }

                        70% {
                            box-shadow: 0 0 0 10px rgba($gold, 0);
                        }

                        100% {
                            box-shadow: 0 0 0 0 rgba($gold, 0);
                        }
                    }

                    svg {
                        width: 22px;
                        margin-top: 5px;
                        fill: #fff;
                    }

                    svg.status {
                        fill: #1EA833;
                    }

                    a {
                        text-decoration: none;
                    }

                    span {
                        color: lighten($sidebarBorderColor, 20);
                        word-wrap: break-word;

                        &:hover {
                            color: lighten($sidebarBorderColor, 30);
                        }
                    }

                    &.active {
                        span {
                            color: #fff;
                        }
                    }
                }
            }

            .challenges {
                display: grid;
                grid-template-columns: 50px 1fr 1fr;
                align-items: center;
                margin-bottom: 1rem;
                padding: 0.5rem 0;
                background: $blue;
                width: 95%;
                border-radius: 0 1.2rem 1.2rem 0;

                span {
                    padding-left: 1rem;
                }

                * {
                    color: #fff;
                }

                svg {
                    width: 32px;
                    justify-self: center;
                }

                .title {
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    position: relative;
                    font-weight: bold;

                    &::after {
                        content: '';
                        height: 80%;
                        width: 2px;
                        position: absolute;
                        top: 10%;
                        right: 0;
                        background: #fff;
                    }
                }

                .text {
                    font-size: 0.9rem;
                    text-transform: uppercase;
                }
            }
        }

        .certification {
            align-self: end;
            padding: 1rem;
            border: 2px solid $gold;
            border-radius: 1rem;
            width: 90%;
            margin: 1rem auto 2rem;
            display: grid;
            grid-template-columns: 80px auto;
            align-items: center;
            justify-content: center;

            img {
                height: 70px;
            }

            span {
                font-size: 1.2rem;
                text-transform: uppercase;
                color: #fff;
            }
        }
    }

    .content {
        .lesson {

            .reading {
                height: 80vh;

                embed {
                    width: 100%;
                    height: 100%;
                    overflow-y: hidden;
                }
            }

            .details {
                width: 98%;
                margin: 1rem auto;
                background: $sidebarBackground;
                padding: 1.5rem;

                .lesson-title {
                    color: #fff;
                }

                .grid {
                    margin-top: 2rem;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 2rem;

                    * {
                        color: #eee;
                    }

                    .section-title {
                        text-transform: uppercase;
                    }
                }

                border-radius: 5px;
            }

            .footer-tabs {
                width: 98%;
                margin: 1rem auto;

                .nav-tabs {
                    border: 0;
                    margin-bottom: 2px;
                    background: $sidebarBackground;
                    padding-left: 2rem;

                    .nav-item {
                        &:not(:last-child) {
                            .nav-link {
                                //border-right: 3px solid $gold !important;
                            }
                        }
                    }

                    .nav-link {
                        color: lighten($sidebarBorderColor, 20);
                        border: 0px;
                        text-align: center;
                        position: relative;

                        span {
                            color: $gold;
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 34%;
                            width: 3px;
                            height: 12px;
                            background: $gold !important
                        }


                        &:hover {
                            color: lighten($sidebarBorderColor, 30);
                            border: 0px;
                        }

                        &.active {
                            color: #fff;
                            background: transparent;

                        }
                    }
                }

                .tab-content {
                    #comments {
                        .comment {
                            background: $sidebarBackground;
                            margin-bottom: 1rem;

                            .info {
                                padding: 1rem;
                                display: grid;
                                grid-template-columns: 100px auto;
                                border-bottom: 2px solid #383A3F;
                                align-items: center;

                                .user {
                                    text-align: center;

                                    img {
                                        width: 75px;
                                        border-radius: 50%;
                                        border: 2px solid #ddd;
                                        display: block;
                                        margin: 3px auto;
                                    }

                                    span {
                                        color: #fff;
                                        font-weight: 500;
                                        font-size: 18px;
                                    }
                                }

                                .body {
                                    color: #fff;
                                    padding: 0 3rem;
                                }
                            }

                            .meta {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                align-items: center;
                                min-height: 60px;

                                .left {
                                    justify-self: start;
                                    position: relative;

                                    &:before {
                                        display: inline-block;
                                        content: '';
                                        width: 6px;
                                        left: -3px;
                                        top: 50%;
                                        transform: translate(0, -50%);
                                        background: $gold;
                                        height: 80%;
                                        position: absolute;
                                    }

                                    .date {
                                        color: lighten($sidebarBorderColor, 30);
                                        padding: 0.5rem 1rem;
                                    }
                                }

                                .right {
                                    justify-self: end;
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;

                                    >div {
                                        img {
                                            width: 20px;
                                            margin-right: 5px;
                                        }

                                        span {
                                            color: #fff;
                                            font-size: 16px;
                                        }

                                        padding: 0.5rem 1rem;
                                        border-left: 1px solid $bodyBackground;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}


#question-modal {
    .modal-content {
        border-radius: none;
        background: transparent;
        border: none;
    }

    .modal-body {
        background: $sidebarBackground;
        border-radius: 1.5rem;

        .question {
            text-align: center;
            margin: 1rem 0 2rem;
            color: #fff;
        }

        .btn {
            background: transparent;
            border: 2px solid $gold;
            transition: 0.5s all;
            display: block;
            width: 80%;
            margin: 1rem auto;
            color: #fff;
            border-radius: 2rem;

            &:hover {
                background: $gold;
            }
        }
    }
}
